<h2>All Cookies</h2>
<table style="width:100%">
  <tr>
    <th>Cookies Name</th>
    <th>Count</th>
    <th>Price</th>
    <th>Price Per Dozen</th>
  </tr>
  <tr>
    <td class="cookie-name">Chocolate Chip</td>
    <td class="cookie-count">248</td>
    <td class="cookie-price">$0.39</td>
    <td class= "cookie-per-dozen">$4.50</td>
  </tr>
  <tr>
    <td class="cookie-name">Suger</td>
    <td class="cookie-count">182</td>
    <td class="cookie-price">$0.30</td>
    <td class= "cookie-per-dozen">$3.35</td>
  </tr><tr>
    <td class="cookie-name">Oatmeal</td>
    <td class="cookie-count">137</td>
    <td class="cookie-price">$0.42</td>
    <td class= "cookie-per-dozen">$4.80</td>
  </tr><tr>
    <td class="cookie-name">Peanut Butter</td>
    <td class="cookie-count">186</td>
    <td class="cookie-price">$0.47</td>
    <td class= "cookie-per-dozen">$5.25</td>
  </tr><tr>
    <td class="cookie-name">Shortbread</td>
    <td class="cookie-count">93</td>
    <td class="cookie-price">$0.35</td>
    <td class= "cookie-per-dozen">$4.00</td>
  </tr>
</table>

{{outlet}}
